{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/jsx-key": 1
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.release.js"
      }
    }
  }
}
